body{
  margin: 0px;
  background-color: #e8e8e8e8;
}
header{
  width: 1340px;
  height: 80px;
  background-color: #fff;
  margin: auto;
  border: 1px dashed #000;
}
main{
  width: 1340px;
  height: 4000px;
  background-color: #fff;
  border: 1px red dashed;
  margin: auto;
}
footer{
  width:1340px ;
  height: 285px;
  background-color: #fff;
  margin: auto;
  border: 1px dashed #000;
}